/.metadata/
/PBO_W6/W6/nbproject/private/
/PBO_W6/W6/build/
/PBO_W7/W7/nbproject/private/
/PBO_W7/W7/build/
/PBO_W7/AljabarLinear/nbproject/private/
/PBO_W7/Alin/nbproject/private/
/PBO_W7/Coba ATM/nbproject/private/
/PBO_W7/UTS_ATM/nbproject/private/
